@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2");
}

:root {
  --text-color-basic: #000000;
  --text-color-basic-30: #0000004d;
  --text-color-basic-60: #00000099;
  --text-color-second: #333333;
  --text-color-bg: #ffffff;
  --text-color-bg-30: #ffffffd4;
  --text-color-error: #ff5757;

  --bg-color-main: #ffffff;
  --bg-color-main-30: #ffffff4d;
  --bg-color-accent: #82b3d3;
  --bg-color-accent-20: #82b3d333;
  --bg-color-accent-12: #82b3d31f;
  --bg-color-light: #e5e5e5;
  --bg-color-lighter: #f2f2f2;

  --button-color-main: #756157;
  --button-color-main-hover: #615048;
  --button-color-accent: #82b3d3;
  --button-color-accent-hover: #68a2ca;
  --button-color-active: #7db54f;
  --button-color-active-hover: #6c9e42;
  --button-color-disable: #e5e5e5;

  --form-color-dark: #3f5e72;
  --form-color-light: #e5e5e5;
  --form-color-lighter: #f2f2f2;

  --card-border-color: #e6e6e6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-basic);

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.page--overlay {
  overflow: hidden;
}

.page__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--bg-color-lighter);
  opacity: 0.8;
}

.page__body {
  margin: 0;

  background-color: var(--bg-color-lighter);
}

.page__wrapper {
  margin: 0 auto;
  width: 1200px;

  background-color: var(--bg-color-main);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr 268px;
  column-gap: 28px;
  min-height: 64px;
  padding: 0  70px;
}

.header__logo {
  grid-column: 1;
  align-self: start;
  margin-bottom: -6px;

  line-height: 1;
}

.header__nav {
  grid-column: 2;
}

.header__actions {
  justify-self: end;
}

.logo {
  display: block;
  min-height: 70px;
}

.main-nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-nav__link {
  display: block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: var(--text-color-main);
}

.button {
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color-bg);

  cursor: pointer;
}

.button--color_main {
  background-color: var(--button-color-main);
}

.button--color_accent {
  background-color: var(--button-color-accent);
}

.button--color_active {
  background-color: var(--button-color-active);
}

.button--color_transparent {
  background-color: transparent;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.action__icon-link {
  position: relative;

  display: block;
  padding: 22px 12px;

  text-decoration: none;
  color: var(--text-color-basic);
}

.actions__count {
  position: absolute;
  top: 11px;
  right: 4px;

  display: block;
  width: 20px;
  height: 20px;
  padding: 5px 4px;

  font-size: 10px;
  line-height: 10px;
  text-align: center;
  /* text-decoration: none; */
  color: var(--text-color-bg);

  background-color: var(--button-color-active);
}

.action__icon-link::before {
  content: "";

  display: block;
  width: 20px;
  height: 20px;

  background-color: currentColor;
}

.actions__signup {
  margin-left: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 51px;
  padding-bottom: 82px;

  background-color: var(--bg-color-accent);
  background-image: url("../img/divider.svg"), url("../img/bg-hero.jpg");
  background-size: contain, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-color-basic);
}

.section-header p {
  font-size: 22px;
  line-height: 26px;
  color: var(--text-color-second);
}

.section-header--background h2,
.section-header--background p {
  color: var(--text-color-bg);
}

.features__header {
  margin-bottom: 21px;
  padding: 69px 270px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 25px;
}

.features__subtitle {
  margin: 0;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(385px, auto);
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.features__item--color_accent {
  color: var(--text-color-bg);
  background-color: var(--bg-color-accent);
}

.features__item--color_accent-20 {
  background-color: var(--bg-color-accent-20);
}

.features__item--color_accent-12 {
  background-color: var(--bg-color-accent-12);
}

.features__item {
  display: grid;
  align-items: stretch;
}

.features__item--image_right,
.features__item--image_left {
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  align-items: center;
}

.features__item--image_right .features__image {
  grid-column: 2 / span 2;
}

.features__item--image_left .features__image {
  grid-column: 1 / span 2;
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 85px;

  text-align: center;
}

.features__item h3 {
  position: relative;

  margin-top: 0;
  margin-bottom: 62px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-basic);
}

.features__item h3::after {
  content: "";

  position: absolute;
  bottom: -30px;
  left: 50%;

  display: block;
  width: 60px;
  height: 2px;

  background-color: currentColor;
  opacity: 0.3;
  transform: translateX(-50%);
}

.features__item p {
  margin: 0;

  color: var(--text-color-second);
}

.features__item--color_accent h3,
.features__item--color_accent p {
  color: inherit;
}

.benefits__header {
  padding: 64px 270px;
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.benefits__text {
  margin: 0;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(385px, auto);
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.benefits__item {
  padding: 40px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: var(--bg-color-main);
}

.benefits__item::before {
  content: "";

  display: block;
  width: 75px;
  height: 72px;
  margin-bottom: 30px;

  background-color: var(--bg-color-accent);
}

.benefits__item--color_accent-12 {
  background-color: var(--bg-color-accent-12);
}

.benefits__name {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.benefits__desctiption {
  margin: 0;

  color: var(--text-color-second);
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 300px;
}

.search__header {
  margin-bottom: 54px;
}

.search__header__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.search__header__text {
  margin: 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;

  background-color: var(--bg-color-accent);
  background-image: url(../img/bg-subscribe.jpg);
  background-position: center;
  background-size: cover;
}
.subscribe--main .subscribe__title,
.subscribe--main .subscribe__text {
  color: var(--text-color-bg);
}

.subscribe--inner {
  background-color: var(--bg-color-main);
  background-image: none;
}

.subscribe__header {
  margin-bottom: 54px;
}

.form-subscribe {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.form-subscribe__input {
  flex-grow: 1;
}

.input__field {
  width: 100%;
}

.input__field::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color-basic-60);
}

.socials {
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 70px 30px;
}

.footer__phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--text-color-basic);
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.socials__link {
  display: block;
  width: 47.33px;
  height: 40px;

  background-color: var(--button-color-accent);
}

.socials__link:hover {
  background-color: var(--button-color-accent-hover);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  display: block;
  width: 717px;
  min-height: 576px;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: var(--bg-color-main);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);

  transform: translate(-50%, -50%);
}

.modal--hidden {
  display: none;
}

.modal__inner {
  position: relative;
}

.modal__close {
  position: absolute;
  top: 0;
  right: -18px;

  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  border: none;

  background-color: var(--bg-color-lighter);
  cursor: pointer;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 64px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--text-color-basic);
}

.modal-form {
  display: grid;
  grid-template-columns: 247px 242px;
  column-gap: 88px;
  row-gap: 48px;
}

.modal-form__text-field {
  position: relative;

  grid-column: span 2;
  display: grid;
  grid-template-columns: auto 440px;
}

.modal-form__counter-field {
  display: grid;
  grid-template-columns: auto 110px;
}

.modal-form__submit {
  grid-column: span 2;

  font-size: 20px;
  line-height: 24px;
  padding: 18px;
}

.counter-field__group {
  display: grid;
  grid-template-columns: 40px 31px 40px;
}

.counter-field__label {
  display: flex;
  align-items: center;
}

.counter-field__button {
  border: none;
  background-color: var(--bg-color-lighter);
}

.counter-field__input {
  padding-top: 12px;
  padding-bottom: 12px;

  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--text-color-basic);

  border: none;
  background-color: var(--bg-color-lighter);

  -moz-appearance: textfield;
}

.counter-field__input::-webkit-outer-spin-button,
.counter-field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.counter-field__info {
  margin-left: 10px;
}

.tooltip {
  position: relative;
}

.tooltip__anchor {
  width: 26px;
  height: 26px;

  vertical-align: middle;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-color-accent);
}

.tooltip__content {
  position: absolute;
  left: 50%;
  top: calc(100% + 15px);

  width: 256px;
  min-height: 143px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color-bg);

  background-color: var(--text-color-second);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.tooltip__content p {
  margin: 0;
}

.tooltip__content::before {
  content: "";

  position: absolute;
  top: 0;
  right: 50%;

  display: block;
  width: 19px;
  height: 9px;
  border-bottom: 9px solid var(--text-color-second);
  border-right: 9.5px solid transparent;
  border-left: 9.5px solid transparent;

  transform: translate(50%, -100%);
}

.head {
  display: grid;
  grid-template-columns: auto;
  row-gap: 40px;
  padding: 35px 70px 70px;

  color: var(--text-color-bg);

  background-color: var(--bg-color-accent);
  background-image: url(../img/bg-hero-inner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs__link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs__link--icon_home {
  display: block;
  width: 13px;
  height: 15px;

  background-color: currentColor;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  column-gap: 70px;
}

.search-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.search-form__group--options,
.search-form__group--type {
  flex-basis: 150.43px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin: 0;
}

.search-form__group--price {
  flex-basis: 288px;
  margin-left: auto;
}

.search-form__group--actions {
  flex-basis: 191px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}

.search-form__caption {
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.checkbox__label,
.radio__label {
  font-size: 18px;
  line-height: 23px;
}

.range__inputs {
  display: grid;
  grid-template-columns: repeat(2, 143px);
  gap: 2px;
  margin-bottom: 36px;
}

.range__input {
  position: relative;
}

.range__field,
.range__field-label {
  font-size: 18px;
  line-height: 24px;
}

.range__field {
  width: 100%;
  padding: 12px 40px 12px 20px;
  border: none;

  -moz-appearance: textfield;
}

.range__field::-webkit-outer-spin-button,
.range__field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range__field-label {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.range__field {
  font-family: inherit;
  font-weight: 700;
  color: var(--text-color-basic);
}

.range__field-label {
  color: var(--text-color-basic-30);
}

.range-slider__line {
  position: relative;

  width: 100%;
  height: 4px;

  background-color: var(--bg-color-main-30);
}

.range-slider__fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 21%;

  background-color: var(--bg-color-main);
}

.range-slider__button {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  border: none;
  border-radius: 5px;
  background-color: var(--bg-color-main);

  cursor: pointer;
}

.range-slider__button--min {
  left: 0;
  transform: translateY(-50%);
}

.range-slider__button--max {
  left: 79%;
  transform: translateY(-50%);
}

.results {
  padding: 50px 70px 60px;
}

.results__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.results__title {
  margin: 0;
  margin-right: 40px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--text-color-basic);
}

.results__settings {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
}

.result__view {
  margin: 0;
  margin-left: 70px;
  padding: 0;

  list-style-type: none;
}

.view-toggler {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
}

.view-toggler__link {
  display: block;
  width: 48px;
  height: 48px;

  background-color: var(--text-color-basic);
}

.results__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 40px;

  list-style-type: none;
}

.select {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-second);
}

.hotel-card {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 16px;
  box-shadow: 0 0 0 1px var(--card-border-color);
  border-radius: 4px;
}

.hotel-card__image {
  grid-column: span 2;
}

.hotel-card__title {
  grid-column: span 2;
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color-basic);
}

.hotel-card__title a {
  text-decoration: none;
  color: inherit;
}

.hotel-card__price {
  text-align: right;
}

.hotel-card__type,
.hotel-card__price {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-second);
}

.hotel-card__stars {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 6px;
}

.hotel-card__star {
  display: block;
  width: 18px;
  height: 17px;

  background-color: var(--bg-color-accent);
}

.hotel-card__rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--text-color-second);
}

.pagination__list {
  display: flex;
  justify-content: flex-start;
  column-gap: 8px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.pagination__link {
  display: block;
  width: 60px;
  height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: var(--text-color-bg);

  background-color: var(--bg-color-accent);
}

.pagination__link[aria-current="page"] {
  pointer-events: none;

  color: var(--text-color-basic);

  background-color: var(--form-color-lighter);
}
